/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2025, 8:16:48 AM
    Author     : admin
*/
.main{
    -fx-pref-width: 400;
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.Subject{
    -fx-font-size: 40;
    -fx-text-weight: bold;
    -fx-fill: red;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
}

.button{
    -fx-padding: 5;
    -fx-text-fill:white;
    -fx-background-color: darkblue;
    -fx-pref-width: 150;
    -fx-pref-height: 2;
    -fx-font-size:15;
    -fx-text-weight: bold;
}